<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: "app"
};
</script>

<style>
body {
  font-family: "Montserrat";
  color: #1f2041;
  background-color: #eee;
}

.container {
  width: 100%;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  border-radius: 4px;
}
.label {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 24px;
}

.input {
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  outline: none;
  padding: 7px;
}

.input:focus {
  border-color: rgba(31, 32, 65, 0.5);
  transition: border-color 0.3s;
}

input::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

@media (min-width: 250px) and (max-width: 500px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 599px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: local("Montserrat Light"), local("Montserrat-Light"),
    url("./assets/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("./assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
</style>

