<template>
  <div>
    <label class="label">Data de nascimento</label>
    <datepicker
      class="input input-bday"
      placeholder="Selecione uma data"
      :minimumView="'day'"
      :maximumView="'month'"
      :initialView="'month'"
      v-model="localBDay"
      @change="$emit('inputChanged', 'bday', localBDay)"
      :class="{'error': error}"
    ></datepicker>
  </div>
</template>
<script>
import Datepicker from "vuejs-datepicker";

export default {
  name: "InputDate",
  components: {
    Datepicker
  },
  props: ["bday", "error"],
  data: () => ({
    localBDay: ""
  }),
  watch: {
    bday() {
      this.localBDay = this.bday;
    }
  }
};
</script>

<style>
.input-bday {
  background: url("../assets/icons/event.svg") no-repeat scroll right;
  background-size: 15px;
  background-origin: content-box;
  background-position-x: 98%;
  padding: 0;
}

.input-bday div input {
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 7px 9px;
}

.input-bday div input::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
</style>

