<template>
  <div>
    <label class="label">Status</label>
    <input
      type="checkbox"
      id="switch"
      class="toggle"
      v-model="localStatus"
      @change="$emit('inputChanged','status', localStatus )"
    >
    <label for="switch" class="toggle-label"></label>
  </div>
</template>
<script>
export default {
  name: "InputStatus",
  props: ["status"],
  data: () => ({
    localStatus: false
  }),
  watch: {
    status() {
      this.localStatus = this.status;
    }
  }
};
</script>
<style scoped>
.toggle[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-label {
  cursor: pointer;
  width: 40px;
  height: 20px;
  background: #fff;
  display: block;
  border-radius: 100px;
  position: relative;
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.toggle-label:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 4px;
  left: 2px;
  right: 2px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 100px;
  -webkit-transition: 0.3s;
  transition: 0.1s;
}

.toggle:checked + .toggle-label {
  background: #fff;
  border: 1px solid #bc9cff;
}

.toggle:checked + .toggle-label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.toggle-label:active:after {
  width: 5px;
}
</style>
