<template>
  <ListCard
    :users="users"
    @goToRegister="goToRegister"
    @edit="edit"
    @confirmRemove="confirmRemove"
  />
</template>

<script>
import swal from "sweetalert";
import ListCard from "./ListCard.vue";

export default {
  name: "List",
  components: {
    ListCard
  },
  data: () => ({
    users: []
  }),
  created() {
    this.getItemsLocalStorage();
  },
  methods: {
    getItemsLocalStorage() {
      const users = JSON.parse(localStorage.getItem("users"));
      if (users) this.users = users;
    },
    goToRegister() {
      this.$router.push("register");
    },
    edit(id) {
      this.$router.push({ name: "edit", params: { id } });
    },
    confirmRemove(id) {
      swal({
        title: "Atencao!",
        text: "Deseja realmente remover esse usuário?",
        icon: "warning",
        buttons: true,
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          this.remove(id);
          swal("Usuário deletado com sucesso!", {
            icon: "success"
          });
        }
      });
    },
    remove(id) {
      this.users.splice(id, 1);

      localStorage.setItem("users", JSON.stringify(this.users));
    }
  }
};
</script>
