<template>
  <div class="container">
    <div class="head">
      <button class="btn-new" @click="$emit('goToRegister')">
        <img src="../assets/icons/plus.svg"> Novo
      </button>
    </div>
    <div class="table">
      <div class="thead">
        <div class="text-head col-sg">Nome completo</div>
        <div class="text-head col-sm">CPF</div>
        <div class="text-head col-sm">Telefone</div>
        <div class="text-head col-md">E-mail</div>
        <div class="text-head col">Status</div>
        <div class="text-head col">Opções</div>
      </div>
      <div class="tbody" v-if="users.length === 0">
        <p>Não há usuários cadastrados</p>
      </div>
      <div class="tbody" v-for="(u, index) in users" :key="index" v-if="users.length > 0">
        <div class="text-body col-sg">{{u.nome}}</div>
        <div class="text-body col-sm">{{u.cpf}}</div>
        <div class="text-body col-sm">{{u.tel}}</div>
        <div class="text-body col-md">{{u.email}}</div>
        <div class="text-body col" :class="{'active': u.status}">{{status(u.status)}}</div>
        <div class="text-body col">
          <button class="btn" @click="$emit('edit', index)">
            <img src="../assets/icons/edit.svg">
          </button>
          <button class="btn" @click="$emit('confirmRemove', index)">
            <img src="../assets/icons/delete.svg">
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ListCard",
  props: ["users"],
  methods: {
    status(status) {
      return status ? "Ativo" : "Inativo";
    }
  }
};
</script>


<style scoped>
.thead,
.tbody {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.thead {
  border-bottom: 3px solid #6fcf97;
  padding: 7px;
}

.tbody {
  border-bottom: 1px solid rgba(31, 32, 65, 0.25);
  padding: 10px;
}

.tbody p {
  color: rgba(31, 32, 65, 0.25);
}

.thead .text-head,
.tbody .text-body {
  text-align: left;
}

.text-head {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #1f2041;
}

.text-body {
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.col-sg {
  width: 30%;
}

.col-md {
  width: 20%;
}

.col-sm {
  width: 15%;
}

.col {
  width: 10%;
}

.active {
  color: #bc9cff;
  font-weight: bold;
}

.btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 1px 1px #eee;
  border-radius: 4px;
  transition: all 0.3s;
}

.btn img {
  height: 24px;
  width: 24px;
}

.head {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.input {
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  outline: none;
  padding: 7px;
  background-image: url("../assets/icons/search.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-origin: content-box;
}

.input:focus {
  border-color: rgba(31, 32, 65, 0.5);
  transition: border-color 0.3s;
}

input::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.btn-new {
  width: 123px;
  height: 44px;
  background-color: white;
  border-radius: 22px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}

.btn-new img {
  width: 20px;
  height: 20px;
}

.btn-new:hover {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 50%);
}

@media (min-width: 250px) and (max-width: 550px) {
  .thead,
  .tbody {
    display: block;
  }
  .text-body {
    overflow: unset;
  }
  .thead .text-head,
  .tbody .text-body {
    width: 100%;
  }
  .head {
    display: block;
  }

  .input {
    margin-bottom: 20px;
    width: 100%;
  }
}
</style>
