<template>
  <div class="container">
    <form @submit.prevent="validate">
      <div class="info">
        <label class="label">Nome completo</label>
        <input
          type="text"
          class="input"
          placeholder="Digite seu nome"
          maxlength="200"
          v-model="user.nome"
          :class="{'error': this.$v.user.nome.$error}"
        >
      </div>
      <div class="form-row">
        <div class="info">
          <label class="label">CPF</label>
          <input
            type="text"
            class="input"
            placeholder="000.000.000-00"
            v-mask="'###.###.###-##'"
            v-model="user.cpf"
            :class="{'error': this.$v.user.cpf.$error}"
          >
        </div>
        <div class="info">
          <InputDate
            :teste="'testando'"
            :bday="user.bday"
            :error="this.$v.user.bday.$error"
            @inputChanged="inputChanged"
          />
        </div>
        <div class="info">
          <label class="label">Gênero</label>
          <select
            id="soflow-color"
            v-model="user.genero"
            :class="{'error': this.$v.user.genero.$error}"
          >
            <option value="0" disabled selected>Escolha seu gênero</option>
            <option value="f">Femenino</option>
            <option value="m">Masculino</option>
            <option value="o">Outros</option>
          </select>
        </div>
      </div>
      <div class="form-row contact-info">
        <div class="info">
          <label class="label">E-mail</label>
          <input
            type="text"
            class="input"
            placeholder="example@example.com"
            maxlength="200"
            v-model="user.email"
            :class="{'error': this.$v.user.email.$error}"
          >
          <span
            v-if="user.email && user.email.length > 0 && this.$v.user.email.$error"
            class="info-error"
          >e-mail inválido</span>
        </div>
        <div class="info">
          <label class="label">Telefone</label>
          <input
            type="text"
            class="input"
            placeholder="(00) 00000-0000"
            v-mask="['(##) ####-####', '(##) #####-####']"
            v-model="user.tel"
            :class="{'error': this.$v.user.tel.$error}"
          >
        </div>
      </div>
      <div class="form-row">
        <div class="info">
          <InputStatus :status="user.status" @inputChanged="inputChanged"/>
        </div>
      </div>
      <div class="btn">
        <button type="submit" class="btn-default btn-send">
          <img src="../assets/icons/check.svg" class="img-check">
          <span>Enviar</span>
        </button>
        <button type="button" class="btn-default btn-cancel" @click="cancel">Cancelar</button>
      </div>
    </form>
  </div>
</template>

<script>
import InputDate from "./InputDate.vue";
import InputStatus from "./InputStatus.vue";

import swal from "sweetalert";
import { required, email, pending, anyDirty } from "vuelidate/lib/validators";

export default {
  name: "Register",
  components: {
    InputDate,
    InputStatus
  },
  data: () => ({
    user: {
      nome: "",
      cpf: "",
      tel: "",
      email: "",
      genero: 0,
      status: "",
      bday: ""
    },
    userId: null
  }),
  validations: {
    user: {
      nome: { required },
      cpf: { required },
      tel: { required },
      email: { required, email },
      genero: { required },
      bday: { required }
    }
  },
  methods: {
    validate() {
      this.$v.user.$touch();
      if (this.$v.user.$pending || this.$v.user.$error) {
        this.$toasted.error(
          "Por favor! Preencha corretamente os campos em vermelho.",
          {
            position: "top-right",
            duration: 5000
          }
        );
        return;
      }
      this.save();
    },
    inputChanged(key, value) {
      this.user[key] = value;
    },
    save() {
      const { user, userId } = this;
      let users = JSON.parse(localStorage.getItem("users"));

      if (!users) users = [user];
      else if (userId === null) users.push(user);
      else users[userId] = user;

      localStorage.setItem("users", JSON.stringify(users));

      swal({
        title: "Pronto!",
        text: "Salvo com sucesso",
        icon: "success",
        button: false,
        timer: 2000
      });

      this.$router.go(-1);
    },
    cancel() {
      this.$router.push("/list");
    }
  },
  mounted() {
    const { id } = this.$route.params;
    if (id === undefined || id === null) return;

    const users = JSON.parse(localStorage.getItem("users"));
    this.user = users[id];
    this.userId = id;
  }
};
</script>

<style scoped>
.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

select#soflow-color {
  appearance: button;
  background-image: url("../assets/icons/expand_more.svg");
  background-position: 97% center;
  background-repeat: no-repeat;
  color: rgba(31, 32, 65, 0.75);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #fff;
  border-color: rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding: 7px;
  outline: none;
}

select#soflow-color:focus {
  background-image: url("../assets/icons/expand_more-focus.svg");
  border-color: rgba(31, 32, 65, 0.5);
  transition: all 0.3s;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.form-row .btn {
  justify-content: flex-start;
}

.btn {
  display: flex;
}

.btn-default {
  width: 123px;
  height: 44px;
  background-color: white;
  border-radius: 22px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-send {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  margin-right: 19px;
}

.btn-send:hover {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 50%);
}

.img-check {
  width: 20px;
  height: 20px;
}

.btn-cancel {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.btn-cancel:hover {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 60%);
}

.error {
  border: 1px solid red;
}

.info-error {
  color: red;
  font-size: 12px;
  padding: 4px;
}

@media (min-width: 250px) and (max-width: 500px) {
  .form-row {
    flex-direction: column;
  }
}
@media (min-width: 599px) {
  .form-row .info {
    width: 30%;
  }
}

@media (min-width: 992px) {
  .form-row .info {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .form-row .info {
    width: 30%;
  }
}
</style>
